In [1]:
import dateutil
import csv
import pandas as pd

In [2]:
#creating a dictionary to store the start-time and the birth_year of the first rider of that day
first_rider = {}
with open("citibike.csv","r") as fi:
    reader = csv.DictReader(fi)
    day = ""
    for row in reader:
        starttime = dateutil.parser.parse(row["starttime"])
        # ensuring we consider the first rider for the entire day 
        if day != starttime.weekday():
            day = starttime.weekday()
            first_rider[row["starttime"]] = row["birth_year"]

In [3]:
first_rider

{'2015-02-01 00:00:00+00': '1978',
 '2015-02-02 00:02:00+00': '1992',
 '2015-02-03 00:00:00+00': '1982',
 '2015-02-04 00:00:00+00': '1969',
 '2015-02-05 00:00:00+00': '1971',
 '2015-02-06 00:01:00+00': '1989',
 '2015-02-07 00:00:00+00': '1963'}

In [4]:
data = {"Start_Time": first_rider.keys(),"First_Rider_Birth_Year":first_rider.values()}
df = pd.DataFrame.from_dict(data,orient="index")
df=df.transpose()
df

               Start_Time First_Rider_Birth_Year
0  2015-02-01 00:00:00+00                   1978
1  2015-02-02 00:02:00+00                   1992
2  2015-02-03 00:00:00+00                   1982
3  2015-02-04 00:00:00+00                   1969
4  2015-02-05 00:00:00+00                   1971
5  2015-02-06 00:01:00+00                   1989
6  2015-02-07 00:00:00+00                   1963